//  BaseTeam.xcconfig
//  Port Map
//
//  Created by dom on 25.09.18.

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Change to yours (you find the id by 'security find-identity -v' it is the one inside the brackets, )
// and then make git ignore it by
// git update-index --skip-worktree Configs/BaseTeam.xcconfig
DEVELOPMENT_TEAM = S76GCAG929
CODE_SIGN_IDENTITY = Mac Developer
